POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_URL=jdbc:postgresql://your_database_url_here:5432/your_database_name_here

FRED_API_KEY=your_fred_api_key_here
FINNHUB_API_KEY=your_finnhub_api_key_here

APP_BASIC_USER=your_basic_user_here
JENIUS_KEYCLOAK_REALM=jenius
KEYCLOAK_CONTAINER=innovilyse_auth
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=your_existing_keycloak_admin_password
SHARED_SERVICES_NETWORK=docker_files_default
OIDC_ISSUER_URL=https://auth.jeniusapps.com/auth/realms/jenius
OIDC_JWKS_URL=https://auth.jeniusapps.com/auth/realms/jenius/protocol/openid-connect/certs
APP_PASSWORD_SALT=random_salt_value_here
APP_PASSWORD_HASH=your_hashed_password_here

TELEGRAM_ENABLED=true
TELEGRAM_BOT_USERNAME=your_bot_username_here
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_OWNER_CHAT_ID=your_owner_chat_id_here

LOW_MARKET_CAP_THRESHOLD=2000000000
FAST_RISE_PERCENT_THRESHOLD=35
HIGH_VIX_THRESHOLD=25
HIGH_PE_THRESHOLD=25
HIGH_BETA_THRESHOLD=1.5
HIGH_REALIZED_VOLATILITY_THRESHOLD=40
HIGH_DRAWDOWN_THRESHOLD=20
STOCK_FEAR_SCORE_THRESHOLD=65

APP_CORS_ALLOWED_ORIGIN_PATTERNS=*

FRONTEND_PORT=82
BACKEND_PORT=8280
BACKEND_CONTAINER_PORT=8280

